* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 580px;
  margin: 0 auto;
}

header {
  padding: 64px 0;
}

.intro-chunk {
  max-width: 320px;
  padding: 0 24px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 4px solid hsl(0deg, 0%, 40%);
  padding: 64px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
  padding: 8px 24px;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 48px 0;
}

h2 {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  margin: 0;
  margin-bottom: 16px;
  padding: 16px 40px;
  width: fit-content;
}

.indented-heading {
  margin-left: -40px;
}

p {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 16px;
}

p strong {
  color: hsl(160deg, 100%, 30%);
}
